.coursesList {
    size: 5;
}

.navbar-label {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
}

.navbar-select {
    width: 165px;
}

.navbar-p{
    color: #999;
    line-height: 20px;
    margin-top: 15px;
}

.input-date-period{
    width: 150px;
    display: inline;
}
